# Build working directories

# Build files
build_openroad.log

# Test working directories
flow/results
flow/logs
flow/reports
flow/objects
flow/tech

bazel-bin/
bazel-obj/
bazel-OpenROAD-flow-scripts/
bazel-testlogs/

# Tar archives
flow/*tar.gz
flow/run-me*.sh
flow/vars*.sh
flow/vars*.tcl
flow/vars*.gdb

# Common temp files
flow/*.log

# Git metadata (can be huge; not needed in image)
.git

# Platforms
# Reduce Docker build context for ms-openroad
flow/platforms/*
!flow/platforms/common/
!flow/platforms/common/**
!flow/platforms/nangate45/
!flow/platforms/nangate45/**

# Designs
# Reduce Docker build context for ms-openroad (only need nangate45/gcd).
flow/designs/*
!flow/designs/src/
!flow/designs/src/gcd/
!flow/designs/src/gcd/**
!flow/designs/nangate45/
!flow/designs/nangate45/gcd/
!flow/designs/nangate45/gcd/**


# network
.nfs*

# core dumps
core*

# local dependencies
dependencies/
